/* src/styles/buttons.css */
.btn {
    padding: 10px;
    border-radius: 0 6px 6px 0;
    border: 1px solid transparent;
    background-color: #3A3238;
    color: #F5E3E0;
    cursor: pointer;
}

.btn-prev,
.btn-next {
    border-radius: 6px;
    background-color: #F5E3E0;
}

.btn-prev svg,
.btn-next svg {
    width: 16px;
    height: 16px;
}

.btn-prev svg path,
.btn-next svg path {
    fill: #3A3238;
}